@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&display=swap");

.App {
  text-align: center;
  height: 93vh;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  /* background: url("sea.jpg") fixed; */
  background-position: 0 0 0 0;
  background-color: #050505;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #050505;
  margin-top: 1rem;
  height: 17vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: 1em;
  color: white;
  padding: 1rem 17%;
  position: sticky;
  top: 0;
  z-index: 10000;
}

.App-header h1 {
  margin: 0;
  font-size: calc(14px + 2vmin);
}

a#logo {
  max-width: 3rem;
  max-height: 3rem;
  background-image: url("./assets/viruspic-removebg.png");
  background-size: cover;
  /* filter: grayscale(100%); */
  /* background-position: 10px; */
  padding: 1.3rem 1.45rem 1.3rem 1.3rem;
  margin-top: -1rem;
}

.routcont2 {
  display: flex;
  flex-direction: row;
  align-items: left;
  width: 100%;
  margin: 0 auto;
  padding-left: 3%;
}

.container {
  display: flex;
  min-height: 90%;
  flex-direction: row;
  justify-content: center;
}

.dummy-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url("./assets/viruspic-removebg.png");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  filter: blur(5px);
}

.usefulLinks {
  margin: 1rem 1rem;
  min-width: 300px;
  list-style-type: none;
  font-weight: bold;
  background-color: #fafafa;
  border: 1px dotted black;
  border-radius: 15px;
  opacity: 0.8;
  max-height: 690px;
}

#home-mess {
  position: absolute;
  top: 30%;
  left: 23%;
  padding: 1rem;
  margin-top: 10%;
  background-color: rgba(92, 84, 135, 0.8);
  color: rgb(240, 236, 236);
  border-radius: 5px;
  z-index: 5;
}

#countdown-outbreak {
  font-weight: bold;
  background-color: "#0f0f0f";
  border: 1px dotted black;
  border-radius: 15px;
  opacity: 0.8;
  padding: 1rem;
  color: black;
}

.usefulLinks li {
  list-style-type: none;
  padding: 1rem;
  text-align: center;
}

.linksList {
  padding-left: 0;
}

.routcont {
  position: absolute;
  left: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  z-index: 5;
}

#overmenurow {
  width: 100%;
  display: flex;
  justify-content: left;
}

p#advices {
  line-height: 3rem;
  font-size: 1.15em;
  color: black;
  margin-top: 0.3rem;
  margin-left: 0.5em;
}

#underline {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0.125em;
}

span.advice-highlights {
  font-size: 1em;
  font-weight: bold;
  color: white;
}

/*MENU BUTTON*/

.openbtn {
  border-radius: 5px;
  border: 1px dotted grey;
  font-size: 1.25em;
  background-color: #ffffff;
  color: rgb(88, 87, 87);
  padding: 0.25rem 0.75rem 0.25rem 0.75rem;
  margin-right: 0.5em;
  margin-top: 1.25rem;
}

/*NAVBAR*/

#navbar_div {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

#initiallist {
  padding: 0;
  opacity: 0.8;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: 5%;
  height: 60px;
  border-radius: 5px;
  background-color: #050505;
  opacity: 0.8;
}

ul#initiallist li a:hover {
  background: rgba(92, 84, 135, 0.8);
  color: rgb(191, 183, 238) !important;
}

ul#initiallist li a.active {
  background: rgb(191, 183, 238);
  color: #050505 !important;
}

ul#initiallist li a {
  text-decoration: none;
  padding: 0.5rem;
  font-size: 1em;
  border-radius: 10px;
  color: rgb(191, 183, 238);
  width: 100%;
  height: 100%;
}

.usefulLinks {
  max-height: 285px;
  position: relative;
}

/*BREADCRUMBS*/

#breadbrumbs {
  margin-top: 1.25rem;
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
  font-size: 1.1em;
  color: black;
}

/*COUNTRY SEARCH*/

input {
  padding: 0.5rem;
  width: 300px;
}

button {
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 10%;
}

.country_search {
  position: absolute;
  top: 15vh;
  left: 33%;
  margin-top: 3rem;
  background: rgba(92, 84, 135, 0.8);
  border-radius: 5px;
  padding: 1rem;
}

#countryruta {
  border-radius: 10px;
  margin: 0 auto;
}

#countrysearchbtn {
  background-color: #ffffff;
  font-size: 1em;
  padding: 0.75rem;
  border: white;
  color: black;
  margin-left: 0 auto;
}

#countrysearchbtn:hover {
  background-color: grey;
  color: white;
}

#commentbelow {
  font-weight: bold;
  padding-top: 1rem;
  color: rgb(97, 92, 92);
}

#star {
  font-weight: bold;
  color: white;
}

.notvalidcountry {
  background-color: "#fafafa";
  margin-bottom: 5.5rem;
  margin-top: 1.5rem;
  border-radius: 5px;
  border: 1px dotted white;
  padding: 1rem;
  font-weight: bold;
  color: black;
}

.ContList li {
  list-style-type: none;
  margin-left: 0;
  padding: 0.75rem;
  color: black;
  font-weight: bold;
}

#recommendations_link {
  margin-top: 1rem;
}

/*INITIAL WARNING*/

#warn {
  background-color: rgba(57, 58, 58, 0.6);
  padding: 0.5rem;
  margin-right: -1.3%;
  width: 20%;
  font-size: 0.5%;
  font-weight: bold;
  color: rgba(240, 243, 243, 0.6);
  border-radius: 5px;
  z-index: inherit;
}

/*INFO CARDS*/

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 5rem;
  color: black;
}

.info h4 {
  color: black;
}

.globalinfo,
.countryinfo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 5rem;
  border-radius: 10px;
  color: black;
}

.country_title {
  color: #0a0a0a;
}

.country_data {
  position: absolute;
  top: 0;
  left: -10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: black;
  height: 50%;
}

.backToTop {
  color: black;
  margin-top: 1.5rem;
  border: 1px solid grey;
  background-color: "#fafafa";
  border-radius: 5px;
}

.backToTop:hover {
  color: black;
  background-color: "#f0f0f0";
}

.card {
  margin: 1rem;
  padding: 1rem;
  border: 1px dotted black;
  max-width: 60%;
  border-radius: 15px;
  opacity: 0.8;
  background-color: #f0f0f0;
  color: black;
  opacity: 0.7;
  /* position: relative; */
}

#travelinfo_card {
  margin-top: 20vh;
  margin-left: 10vw;
  margin-right: 10vw;
  background-color: "#fafafa";
  color: white;
  line-height: 2em;
  padding: 1rem;
  min-height: 30vh;
  max-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#recommendations_link {
  color: darkblue;
  font-weight: bold;
}

/*CARD IMAGES*/

.country_image {
  position: relative;
  top: -20;
  left: 0;
  height: 80vh;
  width: 120%;
  filter: blur(1px);
}

.global_image {
  width: 100%;
  height: 100%;
  opacity: 0.4;
  z-index: -1;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.useful_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.2;
  max-height: 100%;
  border-radius: 10px;
}

/*TABLE TOP 10 COUNTRIES AND US*/

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

.countryinfo th {
  background-color: #3f3a5ce6;
  color: #f1efef;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #875475;
}

tr:nth-child(odd) {
  color: white;
  background-color: black;
  opacity: 0.7;
}

/*World map options*/

svg.map-img {
  margin-bottom: 2rem;
  margin-top: 1.5rem;
  border-radius: 10px;
  min-height: 400px;
  background: #796eb1e4;
}

svg.map-img:hover {
  cursor: pointer;
}

.map-selected {
  fill: #e3da37;
}

.map-unselected {
  fill: #3c5257;
}

.map-unselected:hover {
  fill: #416d77;
}

/*Map Tooltip options*/
.class {
  position: relative;
  z-index: 0;
}

#displayText {
  max-width: 20%;
  font-size: smaller;
  background-color: rgba(184, 202, 206, 0.9);
  color: rgb(59, 93, 104);
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  z-index: 1000;
}

.animated {
  animation-name: popup;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes popup {
  0% {
    transform: scale(1.15, 1.15);
  }
  25% {
    transform: scale(1.1, 1.1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  75% {
    transform: scale(1.3, 1.3);
  }
  100% {
    transform: scale(1.4, 1.4);
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #050505;
  color: #ffffff;
  text-align: center;
  padding: 1rem;
  font-size: 1em;
  z-index: 10;
}
@media screen and (min-width: 200px) and (max-width: 400px) {
  .openbtn {
    font-size: 0.85em;
  }
  th,
  td {
    font-size: 0.7em;
    padding: 0.2em;
  }

  #warn {
    font-size: small;
  }

  /*Menu*/

  .App-header {
    padding: 0.5rem;
  }

  .navbar_div {
    width: 20%;
  }
  ul#initiallist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    font-weight: normal;
    color: black;
    justify-content: center;
    margin-top: 120%;
    z-index: 1000;
    height: 55%;
    background-color: rgb(77, 78, 78);
    width: 100%;
  }

  ul#initiallist li {
    font-size: 0.75em;
    width: 100%;
  }

  /*Country search*/

  .country_search {
    min-height: 120px;
  }

  .forma {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .country_search h6 {
    color: grey;
  }

  .country_search input {
    padding: 0;
    margin: 1rem auto 1rem auto;
    max-width: 50%;
    margin-top: 0.75rem;
  }

  #countrysearchbtn {
    padding: 0.5rem;
    max-width: 20%;
    margin-top: 0.5rem;
  }

  /*Conuntry table*/

  #headings-country-table {
    font-size: small;
  }

  /*Map*/

  .displayText {
    max-height: 53%;
    margin-top: -65px;
  }

  .displayText a {
    font-size: 0.7em;
    margin: 0.25em;
  }

  svg.map-img {
    margin-bottom: 2rem;
    margin-top: -45px;
  }
}

@media screen and (min-width: 400px) and (max-width: 500px) {
  .App-header {
    max-height: 150px;
  }

  .container {
    flex-direction: column;
  }
  .adv {
    text-align: center;
  }
  .openbtn {
    max-width: 80px;
  }

  .forma {
    display: flex;
    flex-direction: column;
  }

  #warn {
    font-size: small;
  }

  /*Navbar */
  #navbar_div {
    font-size: 0.8em;
    width: 100%;
  }

  /*USEFUL LINKS*/

  .usefulLinks {
    max-height: 500px;
    width: 100%;
    margin-right: 1rem;
  }

  .linksList {
    display: flex;
    justify-content: center;
  }

  div.card {
    width: 300px;
    margin: 1rem;
  }

  /*NAVLIST*/

  #initiallist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    font-weight: bold;
    color: black;
    justify-content: center;
    margin-top: 45%;
    margin-left: 40%;
    z-index: 11000;
    height: 50%;
    background-color: rgb(77, 78, 78);
  }

  ul#initiallist li {
    padding: 0;
    width: 100%;
    border: 1px dotted black;
    color: white;
  }

  /*COUNTRY SEARCH*/

  #countrymaincard {
    margin-bottom: 5rem;
  }

  #countrysearchbtn {
    margin: 0em auto 0.3em auto;
    padding: 0.3em;
    max-width: 50%;
    border-radius: 5px;
    border: 1px dotted grey;
  }

  #countryruta {
    border-radius: 10px;
    margin: 0.6em auto;
    padding: 0.1em;
    max-width: 50%;
  }

  /*TABLE*/

  th,
  td {
    font-size: 0.9em;
    padding: 0.3em;
  }
  th {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
  }

  /*MAP*/

  svg.map-img {
    max-width: 400px;
    margin-top: -3em;
  }

  /* MAP TOOLTIP*/

  .displayText {
    max-height: 50%;
    margin-top: -75px;
  }

  .displayText p {
    font-size: 0.95em;
    font-weight: bold;
    margin: 3px;
  }
}
@media screen and (min-width: 501px) and (max-width: 600px) {
  #initiallist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    font-weight: bold;
    color: black;
    justify-content: center;
    margin-top: 45%;
    margin-left: 40%;
    z-index: 11000;
    height: 50%;
    background-color: rgb(77, 78, 78);
  }

  #warn {
    font-size: small;
  }

  th,
  td {
    font-size: 0.9em;
    padding: 0.2em;
  }

  th {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
  }

  #countryruta {
    border-radius: 10px;
    margin: 0.2em auto;
    padding: 0.1em;
    max-width: 50%;
  }

  #countrysearchbtn {
    margin: 0.6em 0.6em;
    padding: 0.3em;
    max-width: 50%;
    border-radius: 5px;
    border: 1px dotted grey;
  }

  svg.map-img {
    max-width: 500px;
    margin-top: -2em;
  }

  .displayText {
    max-height: 43%;
    margin-top: -70px;
  }

  .displayText a {
    font-size: small;
    margin: 0.25em;
  }
}

@media screen and (min-width: 601px) and (max-width: 1100px) {
  #initiallist {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    list-style-type: none;
    font-weight: bold;
    justify-content: center;
    z-index: 1000;
    height: 55%;
  }
  #initiallist li {
    width: 40%;
    font-size: 90%;
    padding: 0;
  }
  th,
  td {
    font-size: 0.8em;
    padding: 0.4em;
  }
  #countryruta {
    border-radius: 10px;
    margin: 0.2em auto;
    padding: 0.3em;
    max-width: 50%;
  }

  #countrysearchbtn {
    margin: 0.6em 0.6em;
    padding: 0.5em;
    max-width: 50%;
    border-radius: 5px;
    border: 1px dotted grey;
  }

  .displayText {
    max-height: 43%;
    margin-top: -65px;
  }

  .displayText a {
    font-size: medium;
    margin: 0.25em;
  }
}

@media screen and (max-width: 1100px) {
  .container {
    flex-direction: column;
  }

  .usefulLinks {
    max-height: 500px;
    width: 95%;
    margin-right: 1rem;
  }

  .linksList {
    display: flex;
    justify-content: center;
  }

  .card {
    width: 500px;
    margin: 1rem;
  }

  ul#initiallist {
    list-style-type: none;
    font-weight: bold;
    justify-content: center;
  }

  ul#initiallist li {
    padding: 1rem;
  }
}

@media screen and (min-width: 1101px) {
  .card {
    width: 800px;
  }

  /*.routcont {margin-left:5rem;}*/

  ul#initiallist {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    list-style-type: none;
    font-weight: bold;
    justify-content: left;
  }

  ul#initiallist li {
    padding: 1rem;
    color: black;
  }

  th,
  td {
    font-size: 0.95em;
    padding: 0.5em;
  }

  #countryruta {
    border-radius: 10px;
    margin: 0.2em auto;
    padding: 0.3em;
    max-width: 50%;
  }

  #countrysearchbtn {
    margin: 0.6em 0.6em;
    padding: 0.5em;
    max-width: 50%;
    border-radius: 5px;
    border: 1px dotted grey;
  }

  .displayText {
    max-height: 43%;
    margin-top: -80px;
  }
}
